body{
  text-align: center;
  background-color:black;

}
.name{
  font-family: 'Anton', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
color:orange;
font-size: 90px;
}
.tab{
  height: 150px;
  width: 150px;
  font-family: 'Anton', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-size: 70px;
color:darkgreen;
margin: 10px;
border: 10px solid #404B69;
text-shadow: 2px 2px 4px #000000;
}
footer{
  margin-top: 200px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
color: darkred;
background-color: pink;

}


.w{
  background-image: url('image/crash.png');
}


.a{
  background-image: url('image/kick.png');
}


.s{
  background-image: url('image/snare.png');
}


.d{
  background-image: url('image/tom1.png');
}




.j{
  background-image: url('image/tom2.png');
}


.k{
  background-image: url('image/tom3.png');
}

.l{
  background-image: url('image/tom4.png');
}

.pressed{
  box-shadow:0 3px 4px 0 #DBEDF3;
  opacity:0.5;
}
.set{
  margin:10% auto;
}
.red{
  color:red;
}
